<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    
    <!-- Session state configuration -->
    <sessionState mode="InProc" timeout="20" />
    
    <!-- Custom error handling -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
    </customErrors>
    
    <!-- Authentication (if needed later) -->
    <authentication mode="None" />
    
    <!-- Globalization settings -->
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>

  <system.webServer>
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
    <!-- Static file handling -->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    
    <!-- Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>
    
    <!-- URL Rewrite (optional - for clean URLs) -->
    <rewrite>
      <rules>
        <rule name="Remove .aspx extension" stopProcessing="true">
          <match url="^([^.]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="ApplicationName" value="Simple Web Calculator" />
    <add key="Version" value="1.0.0" />
    <add key="EnableDetailedErrors" value="false" />
  </appSettings>

  <connectionStrings>
    <!-- Add database connection strings here if needed later -->
  </connectionStrings>
</configuration>